{% extends 'base.html' %}
{% block login %}
    <style>
        body {
            height: calc(100vh - 68px);
            display: flex;
            align-items: center;
            flex-direction: column;
            flex-grow: 1;
        }

        footer {
            height: 68px;
            position: absolute;
            bottom: 0;
            background-color: #6A7685;
            width: 100%;
        }

    </style>
    <div class="logo">
        <p>Simple Scheduler</p>
    </div>
    <div class="main_content show">
        <div class="auth_top">
            <div class="page_menu">
                <ul>
                    <li><a class="link_active">Log in</a></li>
                    <li><a href="{{ url_for('register_user') }}" class="link_passive">Sign up</a></li>
                </ul>
            </div>
            <form method="post">
                <div class="input_group">
                    <input type="text" placeholder="Email" name="email" value="">
                    <input type="password" placeholder="Password" name="password" value="">
                </div>
                <div class="login_button">
                    <button type="submit" class="btn btn-danger">Log in</button>
                </div>
            </form>
            <div class="password_reset">
                <p><a href="#">Forgot password?</a></p>
            </div>
        </div>
        <hr class="horizontal_line">
        <div class="auth_socials">
            <div class="socials">
                <ul>
                    <li>
                        <button type="button" class="btn btn-light">
                            <span class="icon">
                                <i class="fab fa-google" style="color: #CF4540"></i>
                            </span>
                            Continue with Google
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-light">
                            <span class="icon">
                                <i class="fab fa-facebook-square" style="color: #3B5998"></i>
                            </span>
                            Continue with Facebook
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-light">
                            <span class="icon">
                                <i class="fab fa-vk" style="color: #5181B8"></i>
                            </span>
                            Continue with VK
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-light">
                            <span class="icon">
                                <i class="fab fa-twitter-square" style="color: #2A9DEE"></i>
                            </span>
                            Continue with Twitter
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <footer>
        <h1>footer</h1>
    </footer>
{% endblock %}